[submodule "core/python/prins-qt"]
	path = core/python/prins-qt
	url = https://github.com/jandriambolisoa/prins-qt.git
[submodule "apps/prins-scribe"]
	path = apps/prins-scribe
	url = https://github.com/jandriambolisoa/prins-scribe.git
[submodule "core/python/prins-py"]
	path = core/python/prins-py
	url = https://github.com/jandriambolisoa/prins-py.git
