QMainWindow{
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0.274882 rgba(63, 63, 67, 255), stop:0.279621 rgba(255, 255, 255, 255), stop:0.92891 rgba(255, 255, 255, 255), stop:0.933649 rgba(248, 221, 20, 255), stop:1 rgba(248, 221, 20, 255));
}
QLabel#projectLabel{
	color: rgb(235, 235, 235);
	font-weight: bold;
}
QWidget#scrollAreaWidgetContents{
	background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0.340864, stop:0 rgba(255, 255, 255, 255), stop:0.92891 rgba(255, 255, 255, 255), stop:0.933649 rgba(248, 221, 20, 255), stop:1 rgba(248, 221, 20, 255));
}